<div class="mt-4 wrappedContainer">
    <div *ngFor="let item of items">
        <div class="card">
            <div class="delete d-flex justify-content-end ">
                <button class="deleteBtn" (click)="delete(item)" mat-mini-fab color="warn"> <mat-icon >delete</mat-icon></button>
            </div>
            <img role="presentation" loading="lazy" class="card-img-top p-5 itemImage" [src]="item.image"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a>{{item.price}}$</a>
                    </div>
                    {{item.count}}
                    <div class="d-flex gap-2 justify-content-end">
                        <button class="cart scaleDown" (click)="delete(item)" mat-mini-fab> <mat-icon > <mat-icon>play_arrow</mat-icon> </mat-icon></button>
                        <button class="cart"  (click)="delete(item)" mat-mini-fab> {{item.count}} </button>
                        <button class="cart"  (click)="delete(item)" mat-mini-fab> <mat-icon > <mat-icon>play_arrow</mat-icon></mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
