<div class="mt-4 shopItems">
    <div class="wrappedContainer" *ngFor="let item of items">
        <div class="card">
            <div class="delete d-flex justify-content-end ">
                <button class="deleteBtn" (click)="delete(item)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon></button>
            </div>
            <img role="presentation" loading="lazy" class="card-img-top p-5 itemImage" [src]="item.image"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a>{{item.price}}$</a>
                    </div>
                    <div class="d-flex gap-2 justify-content-end">
                        <button class="cart scaleDown" (click)="removeCount(item)" mat-mini-fab> <mat-icon>
                                <mat-icon>play_arrow</mat-icon> </mat-icon></button>
                        <button class="cart" (click)="delete(item)" mat-mini-fab> {{item.userItemCount}} </button>
                        <button class="cart" (click)="addCount(item)" mat-mini-fab> <mat-icon>
                                <mat-icon>play_arrow</mat-icon></mat-icon></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!items?.length"  class="container align-items-center d-flex justify-content-center">
        <div class="line"><mat-divider></mat-divider></div>
        <h3 class="text ">No Items in cart</h3>
        <div class="line"><mat-divider></mat-divider></div>
    </div>

    <div class="payment container">
        <form [formGroup]="payForm">
            <div class="card rounded-3">
                <div class="card-body mx-1 my-2">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <i class="fa fa-cc-visa cardVisa "></i>
                        </div>
                        <div>
                            <p class="d-flex flex-column mb-0">
                                <b>{{payForm.value.name}}</b><span
                                    class="small text-muted">{{payForm.value.number}}</span>
                                <span style="width: 100%;" class="small text-muted d-flex justify-content-between">
                                    {{payForm.value.expirationDate}}

                                    <span class="float-end">
                                        {{payForm.value.csv}}
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="pt-3">
                        <div class="pt-3 d">
                            <div class="d-flex flex-row pb-3">
                                <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                                    style="background-color: rgba(18, 101, 241, 0.07);">

                                    <div class="d-flex flex-column">
                                        <p class="mb-1 small text-primary">Card Name</p>
                                        <input maxlength="15" formControlName="name" type="text"
                                            class="form-control form-control-sm" id="numberExample" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row pb-3">
                                <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                                    style="background-color: rgba(18, 101, 241, 0.07);">

                                    <div class="d-flex flex-column">
                                        <p class="mb-1 small text-primary">Card number</p>
                                        <input [maxlength]="16" formControlName="number" type="text"
                                            class="form-control form-control-sm" id="numberExample" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row pb-3">
                                <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                                    style="background-color: rgba(18, 101, 241, 0.07);">

                                    <div class="d-flex flex-column">
                                        <p class="mb-1 small text-primary">Expiration Date</p>
                                        <input (keydown)="change($event)" maxlength="5" formControlName="expirationDate"
                                            style="width: 5em;" type="text" class="form-control form-control-sm"
                                            id="numberExample" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row pb-3">
                                <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                                    style="background-color: rgba(18, 101, 241, 0.07);">

                                    <div class="d-flex flex-column">
                                        <p class="mb-1 small text-primary">csv</p>
                                        <input maxlength="3" formControlName="csv" style="width: 3em;" type="text"
                                            class="form-control form-control-sm" id="numberExample" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-row pb-3">
                        <div class="rounded border border-primary border-2 d-flex w-100 p-3 align-items-center"
                            style="background-color: rgba(18, 101, 241, 0.07);">
                            <div class="d-flex align-items-center pe-3">
                            </div>
                            <div class="d-flex flex-column">
                                <p class="mb-1 small text-primary">Total amount due</p>
                                <h6 class="mb-0 text-primary">${{total}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pb-1">
                        <button (click)="pay()" type="button" class="btn btn-primary btn-lg">Pay amount</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>