<div class="contact">
    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form class="mt-3" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field class="formInput">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form class="d-flex mt-3 flex-column" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field class="formInput">
                    <mat-label>Address</mat-label>
                    <input  matInput formControlName="name" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field class="formInput">
                    <mat-label>Address</mat-label>
                   <input matInput formControlName="lastName" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field class="formInput">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="phoneNumber" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <mat-form-field class="formInput">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>