<div class="d-flex flex-row container justify-content-start">
  <div class="w-25">
    <form class="me-4" [formGroup]="itemForm">
      <mat-form-field class="example-form-field">
        <mat-label>Product Title</mat-label>
        <input formControlName="title" maxlength="20" matInput type="text">

      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Product description</mat-label>
        <textarea [maxLength]="50" formControlName="description" matInput
          placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Product Price</mat-label>
        <input min="1" max="9999" formControlName="price" matInput type="number">

      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Product Count</mat-label>
        <input min="1" max="9999" formControlName="count" matInput type="number">

      </mat-form-field>

    </form>
    <div class="d-flex align-items-center ">
      <div>
        <button type="button" mat-raised-button (click)="save()">
          <span> Save </span>
        </button>


      </div>
    </div>
  </div>
  <div class="card">
    <img role="presentation" loading="lazy" class="card-img-top p-5 itemImage" [src]="fileService.image"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{itemForm.value.title}}</h5>
      <p class="card-text">{{itemForm.value.description}}</p>
      <div class="d-flex align-items-center justify-content-between">
        <a class="btn btn-primary">Add to cart <i class="bi bi-cart ms-3"></i></a>
        <a>{{itemForm.value.price}}$</a>
      </div>
    </div>
  </div>
  <button class="imgBtn" type="button" mat-raised-button (click)="imageInput.click()">
    <span> Add image </span>
  </button>
  <input accept=".png" hidden (change)="fileService.processFileForItemPreview(imageInput, itemForm.value)"
    #imageInput type="file" id="file">
