<form *ngIf="!showRegister && !storage.getUserSettings()?.email" [formGroup]="loginForm" (ngSubmit)="login()" class="px-4 py-3">
  <div class="mb-3">
    <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleDropdownFormEmail1"
      placeholder="email@example.com">
    <span class="text-danger"
      *ngIf="(loginForm.get('email')?.touched) && loginForm.get('email')?.errors && loginForm.get('email')?.dirty">
      Invalid email
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleDropdownFormPassword1"
      placeholder="Password">
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="signInbtn btn btn-primary">Sign in</button>
    <button (click)="showRegisterForm()" class="logoutBtn btn btn-secondary">Register</button>
  </div>
</form>

<form *ngIf="showRegister && !storage.getUserSettings()?.email" [formGroup]="registerForm" (ngSubmit)="login()" class="px-4 py-3">
  <div class="mb-3">
    <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleDropdownFormEmail1"
      placeholder="email@example.com">
    <span class="text-danger"
      *ngIf="(registerForm.get('email')?.touched) && registerForm.get('email')?.errors && registerForm.get('email')?.dirty">
      Invalid email
    </span>
  </div>
  <div class="mb-3">
    <label class="form-label">First name</label>
    <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input formControlName="lastName" type="text" class="form-control" placeholder="Last name">
  </div>
  <div class="mb-3">
    <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleDropdownFormPassword1"
      placeholder="Password">
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm password</label>
    <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Password">
    <span class="text-danger" *ngIf="passwordDoNotMatchError">
      Password does'nt match.
    </span>
  </div>

  <div class="d-flex justify-content-between">
    <button (click)="register()" class="signInbtn btn btn-primary">Register</button>
    <button (click)="showRegisterForm()" class="logoutBtn btn btn-secondary">Back</button>
  </div>
</form>

<div *ngIf="storage.getUserSettings()?.email" class="card ">
  <mat-card class="example-card">
    <mat-card-header class="d-flex align-items-center mb-2">
      <div  mat-card-avatar class="example-header-image m-0 "></div>
      <mat-card-title>Welcome {{storage.getUserSettings().firstName}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="d-flex flex-column">
        <button mat-button>
          <i class="bi bi-cart-fill"></i>
          Shoping cart
        </button>
        <button class=" d-flex justify-content-start" mat-button>
          <i class="bi bi-file-text"></i>
          My Data
        </button>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      <button (click)="logOut()" class="logoutBtn m-3 btn btn-secondary">Logout</button>
    </mat-card-footer>


  </mat-card>

</div>