.example-card {
  max-width: 400px;
}

.circular {
  position: relative;
  width: 5em;
  height: 5em;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.logoutBtn {
  background-color: #663202f4;
}

.signInbtn {
  background-color: #fe9800f0;
}

