.example-card {
  max-width: 400px;
}

.circular {
  position: relative;
  width: 5em;
  height: 5em;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.logoutBtn {
  background-color: #663202f4;
}

.signInbtn {
  background-color: #fe9800f0;
}

img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: #ebebeb url('http://via.placeholder.com/300?text=PlaceHolder') no-repeat center;
  color: transparent;
}

