<app-news ></app-news>

<h3 class="my-4" style="font-family: serif">Best Deals!</h3>
<div class="dealsContainer d-flex justify-content-between">
    <div class="card border-success mb-3 dealsElement" style="max-width: 20em;">
       <img src="https://assets.wfcdn.com/im/17438532/scale-h308-w448%5Ecompr-r85/2681/268152561/default_name.jpg"/>
    </div>
    <div class="card border-success mb-3 dealsElement" style="max-width: 20em;">
        <img src="https://assets.wfcdn.com/im/32792995/scale-h308-w448%5Ecompr-r85/2681/268152573/default_name.jpg"/>
     </div>
     <div class="card border-success mb-3 dealsElement" style="max-width: 20em;">
        <img src="https://assets.wfcdn.com/im/21442082/scale-h308-w448%5Ecompr-r85/2681/268152574/default_name.jpg"/>
     </div>
     <div class="card border-success mb-3 dealsElement" style="max-width: 20em;">
        <img src="https://assets.wfcdn.com/im/94893148/scale-h308-w448%5Ecompr-r85/2681/268152558/default_name.jpg"/>
     </div>
</div>

<div class="mt-4">

    <div class="d-flex flex-wrap justify-content-between">
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item" >
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
    </div>

</div>