.nav-link{
    position: relative;
}

.nav-link::after{
    content: '';
    height: 2px;
    width: 0px;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.nav-link:hover{
    color:#663202
}

.nav-link:hover::after{
   opacity: 1;
   width: 100%;
   left: 0;
}

.active{
    color: #fe9a00;
}

.active:hover{
    color: #fe9a00;
}

.active::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

img{
    width: 20%;
}
button {
    background-color: #663202
}

button:hover{
    background-color: #fe9901
}