<div class="d-flex align-items-center gap-3">
    <div> 
        <button type="button" mat-raised-button (click)="imageInput.click()">
            <span *ngIf="!loading"> Change Profile image </span>
            <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
        </button>
        <input accept=".png" hidden (change)="processFile(imageInput)" #imageInput type="file" id="file">
    </div>


    <mat-icon *ngIf="selectedFile?.status ==='ok'">check_circle_outline</mat-icon>
    <mat-icon *ngIf="selectedFile?.status ==='fail'">block icon</mat-icon>
</div>