<form [formGroup]="form" class="d-flex flex-column w-25">
    <mat-form-field class="example-form-field">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput type="text" >
        @if (form.get('firstName')?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('firstName')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput type="text" >
        @if (form.get('lastName')?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('lastName')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Email address</mat-label>
        <input formControlName="email" matInput type="text" >
        @if (form.get('email')?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('email')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="text" >
        @if (form.get('password')?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('password')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Confirmg Password</mat-label>
        <input formControlName="confirmPassword" matInput type="text" >
        @if (form.get('confirmPassword')?.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clear('confirmPassword')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <app-single-file-upload></app-single-file-upload>
</form>
