<div class="mt-4">
    <div class="d-flex flex-wrap justify-content-start gap-4">
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        <div class="card border-success mb-3 item">
            <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="line"><mat-divider></mat-divider></div>
    <div class="text mat-typography">No results</div>
    <div class="line"><mat-divider></mat-divider></div>
</div>