<div id="carouselExampleIndicators" data-bs-ride="carousel" class="carousel slide">
    <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">  
      <div class="carousel-item active">
        <img src="https://assets.wfcdn.com/im/42477854/resize-h655-w2880%5Ecompr-r85/2677/267767558/kitchen_%26_dining_room._score_the_essentials_for_less._shop_now._267767558.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.wfcdn.com/im/77933509/resize-h655-w2880%5Ecompr-r85/2654/265428269/because_comfort_is_key._living_room_looks_for_less._shop_now.__265428269.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://assets.wfcdn.com/im/64725147/resize-h655-w2880%5Ecompr-r85/2684/268413141/natural_is_now_%28%26_forever%29._decor_deals_you%27ll_love._shop_this_style._268413141.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  