<div id="carouselExampleIndicators" data-bs-ride="carousel" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/free-vector/gradient-furniture-sale-landing-page-with-photo_23-2148925277.jpg?w=826&t=st=1706097649~exp=1706098249~hmac=bec574c7a9b13cc7b7cba54429e09658f0e9d4d71d76309829109988558af2d0" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://as1.ftcdn.net/v2/jpg/02/30/06/70/1000_F_230067036_WnCDLuEiSO2EEi1ngg7vdQxCcwEpQEym.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://as2.ftcdn.net/v2/jpg/02/35/45/77/1000_F_235457742_vSKVnJUJeMck21rV6jF1fcDfzWfMztVl.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  